<div id="usage">
			<ul>
				<li>
					<div class="title">Memory</div>
					<div class="bar">
						<div class="progress">
						  	<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
						</div>
					</div>			
					<div class="desc">4GB of 8GB</div>
				</li>
				<li>
					<div class="title">HDD</div>
					<div class="bar">
						<div class="progress">
						  	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
						</div>
					</div>			
					<div class="desc">250GB of 1TB</div>
				</li>
				<li>
					<div class="title">SSD</div>
					<div class="bar">
						<div class="progress">
					  		<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
						</div>
					</div>			
					<div class="desc">700GB of 1TB</div>
				</li>
				<li>
					<div class="title">Bandwidth</div>
					<div class="bar">
						<div class="progress">
					  		<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
						</div>
					</div>			
					<div class="desc">90TB of 100TB</div>
				</li>				
			</ul>	
		</div>			
		
	</div><!--/container-->
		
	
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">添加幼儿园</h4>
				</div>
				<div class="modal-body">
			<p>
			<form method="POST" action="{:url('video/add')}" >
			<div class="form-group">
				<label for="videoname" class="col-md-2 col-xs-2 control-label">幼儿园添加</label>
				<div class="col-md-10 col-xs-10">
					<input type="text" class="form-control" id="videoname" placeholder="videoname" name="videoname" required>
				</div>
			</div>

			<div class="form-group">
				<label  class="col-md-2 col-xs-2 control-label">类型</label>
				<div class="col-md-10 col-xs-10">
					<select class="form-control" name="videotype">

						<option value=9  >原创  </option>

						<option value=11  >教育  </option>

					</select>
				</div>
			</div>

			


			<div class="form-group">
				<label  class="col-md-2 col-xs-2 control-label">幼儿园简介</label>
				<div class="col-md-10 col-xs-10">
					<textarea class="form-control" rows="3" name="videointro" required></textarea>
				</div>
			</div>

			



			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<input type="submit" class="btn btn-default" value="添加">
					<input type="reset" class="btn btn-default" value="重置">
				</div>
			</div>

			</form>
			</p>
		</div>

		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<div class="clearfix"></div>
	
	
	<!--<div id="example_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">添加视频信息</h3>
		</div>

		<div class="modal-body">
			<p>
			<form method="POST" action="{:url('video/add')}" >
			<div class="form-group">
				<label for="videoname" class="col-md-2 col-xs-2 control-label">视频名称</label>
				<div class="col-md-10 col-xs-10">
					<input type="text" class="form-control" id="videoname" placeholder="videoname" name="videoname" required>
				</div>
			</div>

			<div class="form-group">
				<label  class="col-md-2 col-xs-2 control-label">视频类型</label>
				<div class="col-md-10 col-xs-10">
					<select class="form-control" name="videotype">

						<option value=1  >电影  </option>

						<option value=2  >电视剧  </option>

						<option value=3  >动画片  </option>

						<option value=4  >科技  </option>

						<option value=9  >原创  </option>

						<option value=11  >教育  </option>

					</select>
				</div>
			</div>

			<div class="form-group">
				<label  class="col-md-2 col-xs-2 control-label">视频海报</label>
				<div class="col-md-10 col-xs-10">
					<input type="file" id="exampleInputFile" name="pic" required>
				</div>
			</div>


			<div class="form-group">
				<label  class="col-md-2 col-xs-2 control-label">视频简介</label>
				<div class="col-md-10 col-xs-10">
					<textarea class="form-control" rows="3" name="videointro" required></textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="address" class="col-md-2 col-xs-2 control-label">下载地址</label>
				<div class="col-md-10 col-xs-10">
					<input type="text" class="form-control" id="address" placeholder="address" name="address" required>
				</div>
			</div>



			<div class="form-group">
				<div class="col-xs-offset-2 col-xs-10">
					<input type="submit" class="btn btn-default" value="添加">
					<input type="reset" class="btn btn-default" value="重置">
				</div>
			</div>

			</form>
			</p>
		</div>

		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			<button class="btn btn-primary">Save changes</button>
		</div>
	</div>-->